.PlayerTimer {
    width: 90px;
}

.playerAmount {
    justify-content: flex-end;
    margin-left: 10px;
    color: var(--color-text);
}

.PlayerRow, .PlayerRowLoading, .PlayerListMessage {
    padding: 8px 20px;
    border-radius: 10px;
    color: var(--color-text-low);
    margin: 6px 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.PlayerRow:hover {
    background: var(--color-container);
}

.PlayerRowLoading {
    height: 45px;
}

.LoadingText {
    background: var(--color-container-v2);
    border-radius: 3px;
    height: 18px;
    width: 50%;
    animation-name: LoadingColor;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.PlayerName {
    color: var(--color-text);
    margin-right: 10px;
    cursor: pointer;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.PlayerName:hover {
    color: var(--color-text-high);
}

.PlayerIndex {
    padding-right: 20px;
}

.PlayerPing {
    display: flex;
    color: var(--color-text);
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
    font-weight: 500;
    width: 45px;
}

.PlayerPing > svg {
    width: 18px;
    height: 18px;
    margin-left: 5px;
    align-self: center;
}

.PlayerLevel {
    color: var(--color-text-high);
    margin-right: 10px;
    font-size: 12px;
    width: 30px;
    min-width: 30px;
    text-align: center;
    border: 1px solid var(--color-text-low);
    border-radius: 3px;
}

.PlayerNone {
    flex-grow: 2;
}

.playerBackgroundInfo {
    margin-right: 10px;
}

.PlayerButtons {
    display: flex;
    flex-direction: row;
}


.PlayerButton {
    color: var(--color-text);
    cursor: pointer;
    margin-right: 12px;
    padding: 5px 12px;
    border-radius: 8px;
    background: var(--color-container-v2);
    border: none;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
}

.PlayerButton:hover {
    background: var(--color-container-v3);
}

.FactionImage, .LoadingFactionImage {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    margin-right: 10px;
}

.LoadingFactionImage {
    background: var(--color-container-v2);
}

.PlayerGroupName {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Faction {
    display: flex;
    align-self: center;
    align-items: center;
}

.PlayerListMessage {
    height: 50px;
    color: var(--color-text);
    font-size: 14px;
    font-weight: 500;
}


@keyframes LoadingColor {
    0%{
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}