
.SmallText {
    font-size: 13px;
    font-weight: 500;
    color: var(--color-text);
    margin-right: 15px;
    line-height: 1.5em;
    margin-bottom: 3px;
}


.ServerInfoColumn {
    display: flex;
    flex-direction: column;
}

.ServerInfoRow {
    display: flex;
    flex-direction: row;
}

.serverImage {
    outline: none;
    width: 112px;
    border-radius: 10px;
    height: 70px;
    background-color: var(--color-container-v2);
}

.ServerName {
    font-weight: 500;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.GameInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
}

.GameInfo > * {
    padding: 1px 0;
}

.ServerDescriptionColumn {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}


.ServerDescriptionRow {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
}

@media screen and (max-width: 600px) {
    .GameInfo {
        padding-left: 0;
    }
    .serverImage {
        display: none;
    }
    .ServerName {
        margin: 8px 0;
    }
}

.SwitchGame {
    outline: none;
    border: none;
    height: 40px;
    border-radius: var(--border-radius);
    background: var(--color-container);
    color: var(--color-text);
    margin: 0 10px;
    padding: 0 15px 0 15px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 13px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 8px;
}
.SwitchGame > option {
    font-family: "Montserrat" !important;
}

.SwitchGame:hover {
    background-color: var(--color-container-v2);
}


.SettingsRow {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    height: 30px;
}

.SmallInput {
    outline: none;
    border: none;
    border-radius: 5px;
    height: 30px;

    background: var(--color-second);
    color: var(--color-text-low);
    padding: 5px 10px;
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 500;

    width: 100px;
}


.serverStatus, .serverStatusOk, .serverStatusErr {
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 500;
    margin: 6px 0;
    color: #FFC375;
    background-color: rgba(255, 195, 117, 0.05);
}

.serverStatusOk {
    color: #4d984e;
    background-color: rgba(120, 255, 117, 0.05);
}

.serverStatusErr {
    color: #FF7575;
    background-color: rgba(120, 117, 117, 0.05);
}


.BanRow > td, .VipRow > td {
    border: none;
    padding: 10px 20px;
    font-size: 13px;
    color: var(--color-text);
}

.BanRow > td:first-child, .VipRow > td:first-child {
    border-radius: 8px 0 0 8px;
}

.BanRow > td:nth-last-child(2), .VipRow > td:nth-last-child(2) {
    border-radius: 0 8px 8px 0;
}

.BanDisplayName, VipName {
    font-weight: 500;
}

.listButton:hover {
    border-radius: 8px;
    background: var(--color-container-v2);
    cursor: pointer;
}

.VipRowImg > img {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    align-items: center;
}
.VipName {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}
.VipName > span {
    align-self: center;
}
.VipRowImg {
    height: 20px;
    width: 20px;
    margin-right: 20px;
    align-items: center;
}
.BanRow:hover > td, .VipRow:hover > td {
    background: var(--color-container-v2);
    cursor: pointer;
}
.VipHeader {
    display: flex;
    flex-direction: row;
}
th {
    font-size: 14px;
    text-align: left;
    padding: 10px 20px;
    font-weight: 500;
    color: var(--color-text-high);
    background: var(--color-container-v4);
}


.uiIcion {
    width: 18px;
    height: 18px;
}


.serverBadgeErr, .serverBadgeOk, .serverBadgePending, .serverBadge {
    /* padding: 5px 15px; */
    color: #4aaeff;
    /* border-radius: 6px; */
    /* background: var(--color-second); */
    font-size: 12px;
    font-weight: 500;
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.serverBot {
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 8px 0;
    margin-left: 20px;
    margin-top: 16px;
    display: flex;
    align-items: center;
}

.serverBadge {
    color: var(--color-text);
    font-weight: 500;
}
.serverBadgeErr {
    color: #FF7575;
}

.serverBadgeOk {
    color: #61d663;
}

.serverStatusArray {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.liveUpdate {
    display: flex;
    background: #61d663;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 10px;
    animation-name: livePulse;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

.liveUpdateText {
    color: #61d663;
    font-size: 13px;
}

@keyframes livePulse {
    0% {
        opacity: 0.4;
    }
    50% {
        opacity: 1;
        transform: scale(1.05)
    }
    100% {
        opacity: 0.4;
    }
}

.statsBlock > h5 {
    margin: 0;
}


