.GroupRow {
    padding: 10px 20px;
    border: 1px solid var(--color-second);
    border-radius: 10px;
    color: var(--color-text-low);
    background: var(--color-container-v2);
    margin: 10px 0;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}

.GroupHeader {
    display: flex;
    align-items: center;
}

.ManagementTable {
    margin-left: 10px;
    border-collapse: collapse;
    width: 100%;
}

.GroupName {
    flex-grow: 2;
    color: var(--color-text-high);
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
}

.AvatarImg {
    height: 20px;
    width: 20px;
    margin-right: 20px;
    align-items: center;
}

.row {
    font-weight: 500;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}
.row > span {
    align-self: center;
}

.AvatarImg > img {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    align-items: center;
}

.tableHeaders > th {
    padding-top: 20px;
    background: none;
    padding-bottom: 0;
}

.ManagementTable > tbody > td {
    color: #bbb;
}

.ManagementTitles {
    padding: 10px 20px;
    margin: 0;
    color: #fff;
}

.tableHeaders {
    border-bottom: 1px solid #aaa;
}