{
  "$schema": "https://swc.rs/schema.json",
  "minify": true,
  "jsc": {
    "minify": {
      "compress": true
    },
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "dynamicImport": true
    },
    "externalHelpers": true
  },
  "env": {
    "targets": "defaults"
  }
}
