.serverpanel > * {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    margin-left: 20px;
    background-color: #f5f5f5;
}
.serverpanel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}