.serverpanel > * {
    padding: 15px 40px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    margin-left: 20px;
    background-color: #21212B;
    font-family: "Montserrat";
    color: #eeeeee;
}
.serverpanel input[type="button"]:hover {
    background-color: #262631;
    cursor: pointer;
}
input:disabled {
   cursor: not-allowed !important;
   background-color: #1D1D26 !important;
   color: #a0a0a0;
}
input[type="text"] {
  flex-grow: 2;
  margin: 0;
  max-width: 300px;
}
.serverpanel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
.statusbar {

}

.status {
  padding: 20px;
  display: block;
}
.sectiontitle {
  font-size: 16px;
  font-weight: 600;
  padding: 20px 0;
}
.popup2 {
  position: fixed;
  display: block;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  z-index: 100;
  background: #21212b;
  padding: 200px;
  border-radius: 10px;
}

.popup {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background-color: rgba(22,22,22,0.5);
}
.popup > form {
  background-color: #262631;
  margin: 15% auto; /* 15% from the top and centered */
  box-sizing: border-box;
  padding: 20px 30px;
  border-radius: 10px;
  max-width: 500px;
}
