.serverpanel > * {
    padding: 20px 50px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    margin-left: 20px;
    background-color: #f5f5f5;
}
.serverpanel input[type="button"]:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}
input:disabled {
   cursor: not-allowed !important;
   background-color: #f5f5f5 !important;
}
.serverpanel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}