.GroupRow {
    padding: 0 20px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-second);
    border-radius: 10px;
    color: var(--color-text-low);
    background: var(--color-container-v2);
    margin: 6px 0;
    text-decoration: none;
    display: flex;
    font-weight: 500;
    font-size: 14px;
}

.GroupName {
    flex-grow: 2;
    color: var(--color-text-high);
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    
    display: flex;
}

.GroupRow:hover {
    background: var(--color-second-v2);
}

.gameStatsAd {
    display: flex;
    flex-direction: row;
    margin: 6px 0;
    align-items: center;
    border: 1px solid var(--color-second);
    padding: 0 20px;
    height: 50px;
    border-radius: 8px;
    background: var(--color-container-v2);
    color: var(--color-text);
    text-decoration: none;
}

.gameStatsAd:hover {
    background: var(--color-second-v1);
}

.gameStatsAd img {
    height: 40px;
    width: 40px;
    margin-right: 12px;
}

.gameStatsAd span {
    font-size: 13px;
    font-weight: 500;
}

.logTitle {
    display: flex;
    align-items: center;
}

.logDensity {
    font-size: 13px;
    color: var(--color-text);
    margin-left: 10px;
}
.logIcon {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.logAdmin, .logPlayer, .logServer {
    margin-right: 10px;
    color: var(--color-text-high);
}
.logPlayer {
    background: var(--color-second);
    padding: 3px 10px;
    border-radius: 3px;
    height: auto;
    align-self: center;
    cursor: pointer;
}
.logPlayer:hover {
    background: var(--color-second-v2);
}
.logAction, .logReason {
    margin-right: 10px;
    color: var(--color-text);
}
.logRow {
    padding: 10px 20px;
    margin: 10px 0;
    height: 40px;
    border-radius: 8px;
    border: 1px solid var(--color-second);
    background: var(--color-container-v2);
    font-size: 13px;
    display: flex;
    flex-direction: row;
}

.logReasonDetailed {
    flex-grow: 2;
    color: var(--color-text-high);
}

.groupLogReason {
    flex-grow: 2;
}

.BanRow:hover > td {
    cursor: pointer;
    background: var(--color-container-v2);
}

.serverBadgeErr, .serverBadgeOk, .serverBadgePending {
    padding: 3px 10px;
    color: #4aaeff;
    margin-left: 15px;
    margin-top: -1px;
    border-radius: 3px;
    background: var(--color-second);
    font-size: 12px;
}

.serverBadgeErr {
    color: #FF7575;
}

.serverBadgeOk {
    color: #61d663;
}

.BanRow > td {
    border: none;
    padding: 10px 20px;
    font-size: 13px;
    color: var(--color-text);
}

.BanRow > td:first-child {
    border-radius: 8px 0 0 8px;
}

.BanRow > td:nth-last-child(2) {
    border-radius: 0 8px 8px 0;
}

.globalUnban:hover {
    border-radius: 8px;
    background: var(--color-container-v2);
    cursor: pointer;
}

.SwitchTitle {
    outline: none;
    border: 1px solid var(--color-second);
    height: 40px;
    border-radius: 10px;
    background: var(--color-container-v2);
    color: var(--color-text);
    margin: 0 10px;
    padding: 0 15px 0 15px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 13px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 7px;
}
.SwitchTitle > option {
    font-family: "Montserrat" !important;
}
