.GroupRow {
    padding: 0 20px;
    height: 44px;
    align-items: center;
    border-radius: var(--border-radius);
    margin: 6px 0;
    text-decoration: none;
    display: flex;
    font-size: 14px;
    flex-grow: 2;
    color: var(--color-text);
    font-weight: 600;
    white-space:nowrap;
    width: 100%;
}

.GroupRow:hover {
    background: var(--color-container);
}

.gameStatsAd {
    display: flex;
    flex-direction: row;
    margin: 6px 0;
    align-items: center;
    padding: 0 20px;
    height: 50px;
    border-radius: var(--border-radius);
    background: var(--color-container);
    color: var(--color-text);
    text-decoration: none;
}

.gameStatsAd:hover {
    background: var(--color-container-v2);
}

.gameStatsAd img {
    height: 40px;
    width: 40px;
    margin-right: 12px;
}

.gameStatsAd span {
    font-size: 13px;
    font-weight: 500;
}

.logTitle {
    display: flex;
    align-items: center;
}

.logDensity {
    font-size: 13px;
    color: var(--color-text);
    margin-left: 10px;
}
.logIcon {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.logAdmin, .logPlayer, .logServer, .logSeeder {
    margin-right: 10px;
    color: var(--color-text-high);
}

.logServer {
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.logPlayer {
    background: var(--color-container-v2);
    padding: 3px 10px;
    border-radius: 3px;
    height: auto;
    align-self: center;
    cursor: pointer;
}
.logPlayer:hover {
    background: var(--color-container-v3);
}
.logAction, .logReason {
    margin-right: 10px;
    color: var(--color-text);
}
.logRow {
    padding: 10px 20px;
    margin: 10px 0;
    height: 40px;
    border-radius: 8px;
    background: var(--color-container);
    font-size: 13px;
    display: flex;
    flex-direction: row;
}

.logTimeSeed {
    font-size: 13px;
    font-weight: 500;
    color: var(--color-text);
    flex-grow: 2;
    text-align: end;
}

.seedingRow {
    margin-right: 10px;
    color: var(--color-text-high);
    font-size: 14px;
    font-weight: 500;
}

.logReasonDetailed {
    flex-grow: 2;
    color: var(--color-text-high);
}

.groupLogReason {
    flex-grow: 2;
}

.BanRow:hover > td {
    cursor: pointer;
    background: var(--color-container-v2);
}

.serverBadgeErr, .serverBadgeOk, .serverBadgePending, .serverBadgeEmpty {
    display: flex;
    padding: 4px 10px;
    color: #4aaeff;
    margin-left: 15px;
    margin-top: -1px;
    border-radius: 5px;
    background: var(--color-container-v2);
    font-size: 12px;
    align-items: center;
}

.serverBadgeEmpty, .serverBadgeOk {
    color: var(--color-text);
}

.serverBadgeErr {
    color: #FF7575;
}


.shieldOk {
    color: #61d663;
    height: 14px;
    margin-right: 10px;
}

.shieldErr {
    color: #FF7575;
    height: 14px;
    margin-right: 10px;
}

.shieldNone {
    color: var(--color-text);
    height: 14px;
    margin-right: 10px;
}

.serverBadgeOk > span {
    margin-left: 5px;
}

.BanRow > td {
    border: none;
    padding: 10px 20px;
    font-size: 13px;
    color: var(--color-text);
}

.BanRow > td:first-child {
    border-radius: 8px 0 0 8px;
}

.BanRow > td:nth-last-child(2) {
    border-radius: 0 8px 8px 0;
}

.globalUnban:hover {
    border-radius: 8px;
    background: var(--color-container-v2);
    cursor: pointer;
}

.keepAlive {
    margin: 10px 0;
    height: 40px;
    font-size: 13px;
    display: flex;
    flex-direction: row;
}
.keepAliveRow {
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    background: var(--color-container);
    color: var(--color-text-high);
    flex-grow: 2;
}
.keepAliveRemove {
    border-radius: 8px;
    padding: 10px 20px;
    background: var(--color-container);
}
.keepAliveRemove:hover {
    background: var(--color-container-v2);
    cursor: pointer;
}

.SwitchTitle {
    outline: none;
    height: 40px;
    border-radius: 10px;
    background: var(--color-container);
    color: var(--color-text);
    margin: 0 10px;
    padding: 0 15px 0 15px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 13px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 7px;
    border: none;
}
.SwitchTitle > option {
    font-family: "Montserrat" !important;
}
.SwitchTitle:hover {
    background-color: var(--color-container-v2);
}

.SmallSwitch {
    outline: none;
    border: 1px solid var(--color-second);
    height: 40px;
    border-radius: 10px;
    background: var(--color-container-v2);
    color: var(--color-text);
    margin: 0 10px;
    padding: 0 15px 0 15px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 13px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 7px;
}
.SmallSwitch > option {
    font-family: "Montserrat" !important;
}

.ServerNameText {
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    font-weight: 600;
    font-size: 13px;
    color: var(--color-text);
}

.ServerAliasName {
    margin-left: 15px;
    background: var(--color-container-v2);
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 12px;
}

.GrowNone {
    flex-grow: 2;
}

.GroupName {
    flex-grow: 2;
}

.AccountInfo {
    display: flex;
    flex-direction: column;
    background: var(--color-container);
    border-radius: 15px;
    padding: 10px;
    margin: 5px 15px;
    margin-right: 0px;
    width: 600px;
    /* max-width: 600px; */
    cursor: pointer;
}

.AccountInfo:hover {
    background: var(--color-container-v2);
}

/* .ShownGame {
    padding: 15px;
    font-size: 13px;
} */

.GroupIdentity {
    margin-left: 10px;
    background: var(--color-container-v2);
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 13px;
    color: var(--color-text);
}

.SeedRow {
    display: flex;
    flex-direction: row;
    padding: 12px 20px;
    border-radius: 10px;
}


.selectableRow, .selectableRowSelected {
    height: 40px;
    display: flex;
    flex-direction: row;
    padding: 12px 20px;
    border-radius: 10px;
    margin: 4px 0;
    align-items: center;
    cursor: pointer;
}

.selectableRow:hover {
    background: var(--color-container);
}

.selectableRowSelected {
    background: var(--color-container-v2);
}

.iconSelect {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    color: var(--color-text);
    flex-shrink: 0;
}

.selectableRow:hover > .iconSelect, .selectableRowSelected > .iconSelect  {
    color: var(--color-text-high);
}

.DiscordName {
    font-size: 14px;
    font-weight: 500;
    align-self: center;
    color: var(--color-text);
    margin-right: 10px;
    flex-grow: 2;
}


.SwitchGame {
    outline: none;
    border: none;
    height: 40px;
    border-radius: var(--border-radius);
    background: var(--color-container);
    color: var(--color-text);
    margin: 0 5px;
    padding: 0 15px 0 15px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 13px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 8px;
}
.SwitchGame > option {
    font-family: "Montserrat" !important;
}

.SwitchGame:hover {
    background-color: var(--color-container-v2);
}
