.card {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    padding: 24px 30px;
    min-width: 400px;
    border-radius: 8px;
    background-color: var(--color-container);
    border: 1px solid var(--color-second);
    margin: 0 0 24px 0;
}

.CardRow {
    color: var(--color-text);
    padding: 6px 0;
}

.PageCard {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    padding: 24px 30px;
    min-width: 400px;
    border-radius: 0 8px 8px 8px;
    background: var(--color-container);
    border: 1px solid var(--color-second);
    margin: -1px 0 24px 0;
}