.Column {
    display: flex;
    flex-direction: column;
    padding: 0 12px;
    flex-grow: 2;
    max-width: 100%;    
}

.Row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.scrollRow {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.topRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: top;
}

.Grow {
    flex-grow: 2;
}