.Column {
    display: flex;
    flex-direction: column;
    padding: 0 12px;
    flex-grow: 2;
    max-width: 100%;    
}

.Row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Grow {
    flex-grow: 2;
}