.GroupRow {
    padding: 0 20px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-second);
    border-radius: 10px;
    color: var(--color-text-low);
    background: var(--color-container-v2);
    margin: 6px 0;
    text-decoration: none;
    display: flex;
    font-weight: 500;
    font-size: 14px;
}

.GroupName {
    flex-grow: 2;
    color: var(--color-text-high);
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}

.GroupRow:hover {
    background: var(--color-second-v2);
}

.gameStatsAd {
    display: flex;
    flex-direction: row;
    margin: 6px 0;
    align-items: center;
    border: 1px solid var(--color-second);
    padding: 0 20px;
    height: 50px;
    border-radius: 8px;
    background: var(--color-container-v2);
    color: var(--color-text);
    text-decoration: none;
}

.gameStatsAd:hover {
    background: var(--color-second-v1);
}

.gameStatsAd img {
    height: 40px;
    width: 40px;
    margin-right: 12px;
}

.gameStatsAd span {
    font-size: 13px;
    font-weight: 500;
}

.logAdmin, .logPlayer {
    margin-right: 10px;
    color: var(--color-text-high);
}
.logAction, .logReason {
    margin-right: 10px;
    color: var(--color-text);
}
.logRow, .BanRow {
    padding: 10px 20px;
    margin: 10px 0;
    height: 40px;
    border-radius: 8px;
    border: 1px solid var(--color-second);
    background: var(--color-container-v2);
    font-size: 13px;
    display: flex;
    flex-direction: row;
}

.logReason, .banReasonDetailed {
    flex-grow: 2;
}

.BanDisplayName {
    margin-right: 10px;
    color: var(--color-text-high);
}

.banReason {
    margin-right: 10px;
    color: var(--color-text);
}

.globalUnban {
    cursor: pointer;
}

.serverBadgeErr, .serverBadgeOk, .serverBadgePending {
    padding: 3px 10px;
    color: #4aaeff;
    margin-left: 15px;
    border-radius: 3px;
    background: var(--color-second);
    font-size: 12px;
}

.serverBadgeErr {
    color: #FF7575;
}

.serverBadgeOk {
    color: #61d663;
}