.PageContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    padding: 0 24px;
    padding-top: 60px;
    box-sizing: border-box;
    height: 100vh;
    overflow-y: auto;
    
}

.PageColumn {
    display: flex;
    flex-direction: column;
}


@media all and (max-width: 600px) {
    .PageContainer {
        padding: 0 6px;
    }
}