
.PageLink, .PageButton {
    display: flex;
    flex-direction: row;
    padding: 6px 24px;
    text-decoration: none;
    align-content: center;
}

.PageLink > a, .PageButton > span {
    text-decoration: none;
    display: flex;
    color: var( --color-text);
    font-size: 14px;
    font-weight: 600;
    padding: 14px 24px;
    border-radius: 10px;
    flex-grow: 2;
    transition: all 0.1s ease-out;
    cursor: pointer;
    align-items: center;
}


.PageLink > a:hover {
    background-color: var(--color-second-v1);
}

.PageButton > span:hover {
    color: var( --color-text-high);
}

.PageLink > .PageLinkActive, .PageLink > .PageLinkActive:hover {
    background: var( --color-second);
    color: var(--color-text-high);
}

.Sidebar, .HiddenSidebar {
    width: 340px;
    display: flex;
    height: 100vh;
    flex-direction: column;
    background: var( --color-container);
    transition: all 0.1s ease-out;
    z-index: 100;
    padding-top: 70px;
    box-sizing: border-box;
    position: relative;
    flex-shrink: 0;
}

.HiddenSidebar {
    margin-left: -340px;
}

.Logo {
    height: 80px;
}

.TopSidebar {
    padding: 0 48px;
}

.sideIcon {
    width: 18px;
    height: 18px;
    align-self: center;
}

.PageLink > a > span {
    flex-grow: 2;
}

.GroupLinks {
    
}