.bar {
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0;
    background: var( --color-container);
    height: 60px;
    width: 100%;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.Avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 12px;
}

@media only screen and (max-width: 500px) {
    .accountText {
        display: none;
    }
}

.barWrap {
    position: relative;
    flex-shrink: 0;
    display: block;
    height: 60px;
    width: 100%;
}

.mainPage {
    display: flex;
    margin-left: 48px;
    margin-top: 4px;
    align-self: center;
    justify-content: center;
}

.logo {
    height: 16px;
}

.showBar {
    display: flex;
    align-items: center;
    margin: 8px 0 8px 32px;
    background: transparent;
    border: none;
    padding: 6px;
    color: var(--color-text);
    cursor: pointer;
}

.showBar:hover {
    color: var(--color-text-high);
}

.showBar svg {
    width: 24px;
    height: 24px;
}
.filler {
    flex-grow: 2;
}

.accountPage {
    display: flex;
    align-items: center;
    /* background: var(--color-container-v2); */
    color: var(--color-text);
    text-decoration: none;
    height: 24px;
    border-radius: 50%;
    align-self: center;
    margin-right: 48px;
}

.accountPage span {
    margin-right: 12px;
}
.accountPage:hover {
    color: var(--color-text-high);
}

.accountPage img {
    width: 24px;
    height: 24px;
}