.UserRow {
    display: flex;
    flex-direction: row;
    margin-top: 6px;
}

.Avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 12px;
}

.DiscordName {
    font-size: 14px;
    font-weight: 500;
    align-self: center;
    color: var(--color-text-heigh);
    min-width: 200px;
}

.DiscordNum {
    color: var(--color-text);
    margin-left: 6px;
}

.secure {
    display: flex;
    align-self: center;
    color: #55F165;
    font-size: 14px;
    font-weight: 500;
}

.secure > svg {
    height: 16px;
    margin-right: 6px;
}

.UserRowSt {
    border: 1px solid var(--color-second);
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    border-radius: 10px;
    background: var(--color-container-v2);
    margin: 6px 0;
    align-items: center;
}

.DiscordId {
    color: var(--color-text);
    font-size: 12px;
    font-weight: 500;
    align-self: center;
    margin-right: 24px;
}

.DateAdded {
    color: var(--color-text);
    font-size: 12px;
    font-weight: 500;
    margin-right: 24px;
    flex-grow: 2;
}